#container{
font-family: monospace;
background-color: white;
}
#divbranca{
    height: 350px;
}
.row{
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
h2.titulo1{
    text-align: justify;
    font-size: 30px;
    text-indent: 60px;
}
.tabela_referencia{
    color: black;
    border-radius: 20px;
    position:relative;
    text-align: center;
    width: auto;
    font-size: 13px;
    border-radius: 20%;
    top: -1260px;   /*Está setado em -1260px, porém, no mozilla, não interpreta corretamente. */
    width:fit-content;
}
td{
    border: solid black;
    border-radius: 20%;  
    padding: 1.7%;  
}

.seta{
    text-decoration: none;
    color: black;
    background-color: wheat;
    padding: 15px;
    border-radius: 20px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    font-size: 25px;
}
.vazio{
    width: 12%;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
    border-radius: 10px;
}
.ellement a{
    text-decoration: none;
    color: black;
}
.ellement{
    width: 12%;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
    border-radius: 10px;
    position:relative;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    top: -60px;
}
.ellement:after{
    content:"";
    position:absolute;
    width:12%;
    opacity:1;
    border-radius:10px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .ellement:hover{
    transform:scale(1.2,1.2);
  }
  .ellement:hover::after{
    opacity:1;
  }
.ellement2{
    text-anchor: middle;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    margin: 1%;
    padding: 0.75%;
}
.vazio{
    background-color: white;
}
.ametais{
    background-color: #a1d344;
}

.gasesNobres{
    background-color: #3d9ee3;
}

.alcalinos{
    background-color: #f1b200;
}

.alcalinosTerrosos{
    background-color: #eada00;
}

.semimetais{
    background-color: #4db6ac;
}

.halogenios{
    background-color: #70cbeb;
}

.outros{
    background-color: #a2c7d3;
}

.transicao{
    background-color: #eb8e8e;
}

.lantanideos{
    background-color: #90e3e9;
}

.actinidios{
    background-color: #dcadd6;
}
.outros_metais{
    background-color:cornflowerblue;
}
div.referencia_ametais{
    background-color: #a1d344;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_gasesNobres{
    background-color: #3d9ee3;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_alcalinos{
    background-color: #f1b200;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_alcalinos_terrosos{
    background-color: #eada00;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_semimetais{
    background-color: #4db6ac;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_halogenios{
    background-color: #70cbeb;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_outros{
    background-color:cornflowerblue;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_transicao{
    background-color: #eb8e8e;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_lantanideos{
    background-color: #90e3e9;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}

div.referencia_actinidios{
    background-color: #dcadd6;
    padding: 2%;
    border-radius: 10px;
    font-weight: bold;
}
p.paragrafo1{
    text-align-last: auto;
    width: 600px;
    font-family: sans-serif;
    font-size: 25px;
    text-indent: 20px;
}
div.paragrafo{
    margin-left: 500px;
    width:max-content
}